<!-- This is the markup for a grid to show recipe data grouped by type -->
<ejs-grid [dataSource]="data" [allowGrouping]="true" [groupSettings]="groupOptions">
    <e-columns>
        <e-column field="image" width="150" headerText="" >
        <ng-template #template let-data>
            <div>
            <!-- show the icon in the grid -->
            <img style="width: 150px; height: 100px" src="{{data.image}}" >
        </div>
        </ng-template></e-column>
        <e-column field="name" headerText="Recipe"></e-column>
        <e-column field="meal_type" headerText="Type"></e-column>
        <e-column field="servings" headerText="Servings"></e-column>
        <e-column field="meal" headerText="Meal"></e-column>
        <e-column field="calories" headerText="Calories"></e-column>
    </e-columns>
</ejs-grid>
