<!--
HTML Code: Ingredient -> Recipe grid
Contributor(s): Steve Lough, Collin Llyod, Colby Gallaher
Summary: 
-->


<!-- markup for grid to show ingredient information from the database
    This is an editable grid -->

    <ejs-grid #grid [dataSource]='recipeIngredients | async' [editSettings]="editSettings" [toolbar]="toolbar"
    (dataSourceChanged)='dataSourceChanged($event)' (dataStateChange)= 'dataStateChange($event)'>
        <e-columns>
            <!-- <e-column field="key" headerText="key"></e-column> -->
            <!-- <e-column field="recipe" headerText="Recipe"></e-column> -->
            <e-column field="ingredient" foreignKeyValue="text" foreignKeyField="value" [dataSource]="ingredientData" headerText="Ingredient" ></e-column>
            <e-column field="amount" headerText="Amount"></e-column>
        </e-columns>
    </ejs-grid>
    
    