<!--
HTML Code: About Us Page
Contributor(s): Aishat Banire, Makayla Davis
Summary: 
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="title">About Us</div>
<h1> Who We Are:</h1>
      <p>
          Nutrition genius serves as a database where we help our users
          achieve their nutrition goals. We were founded in 2022 in a small
          town named Morgantown. Our team consists of 6 individual who all 
          play a big role on helping this site run.
        
      </p>
      <h1> Our Mission:</h1>
      <p>
        Eating habits are defined as “conscious, collective, and repetitive behaviors, 
        which lead people to select, consume, 
        and use certain foods or diets, in response to social and cultural influences” -CDC

        Fundamentally, mindful eating involves:

<p>-eating slowly and without distraction</p>
<p>- listening to physical hunger cues and eating only until you’re full</p>
<p>- distinguishing between true hunger and non-hunger triggers for eating</p>
<p>- engaging your senses by noticing colors, smells, sounds, textures, and flavors</p>
<p>- learning to cope with guilt and anxiety about food</p>
<p>- eating to maintain overall health and well-being</p>
<p>- noticing the effects food has on your feelings and figure</p>
<p>- appreciating your food

      
    </p>

    <h1> What We Do:</h1>
    <p>
      We have multiple tools on our website in order to achieve 
    
  </p>

    </div>
    <div class="col-lg-6">
      <div class="card text-white">
        <img
          class="card-img"
          src="https://i.pinimg.com/originals/de/ce/46/dece46917eb2d9ed453a9d3265837665.jpg"
        />
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
        </div>
      </div>
    </div>
  </div>
</div>
