<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="title">About Us</div>

      <p>
          Nutrition genius serves as a database where we help our users
          achieve their nutrition goals. We were founded in 2022 in a small
          town named Morgantown. Our team consists of 6 individual who all 
          play a big role on helping this site run.
        
      </p>
    </div>

    <div class="col-lg-6">
      <div class="card text-white">
        <img
          class="card-img"
          src="https://i.pinimg.com/originals/c8/c0/20/c8c0205b0641e24151b6c210d3af3784.jpg"
        />
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p class="card-text">
            
          </p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
