<div class="MuiContainer-root MuiContainer-maxWidthMd css-1bjb2xy">
  <div class="MuiBox-root css-quz528">
    
  <div class="MuiBox-root css-1eawnaf">
    <div class="MuiBox-root css-16c5cub">
      <p class="MuiTypography-root MuiTypography-inherit css-180eao6">
        Daily Nutrition Goals
      </p>
      <div class="MuiBox-root css-5fjj1s">
        <p class="MuiTypography-root MuiTypography-body1 css-195sgc8">
          Calories
        </p>
        <div class="MuiFormControl-root MuiTextField-root css-16u95ua" min="0">
          <div
            class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-sizeSmall css-joe2cc"
          >
            <input
              aria-invalid="false"
              type="number"
              class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputSizeSmall css-1o6z5ng"
              value="1380"
              id="mui-3"
            />
            <fieldset
              aria-hidden="true"
              class="MuiOutlinedInput-notchedOutline css-igs3ac"
            >
              <legend class="css-ihdtdm">
                <span class="notranslate">​</span>
              </legend>
            </fieldset>
          </div>
        </div>
      </div>
      
      <div class="MuiBox-root css-1ymn2kw">
        <div class="MuiBox-root css-k008qs">
          <p class="MuiTypography-root MuiTypography-body1 css-159i7f8">
            Carbohydrates
          </p>
          <p class="MuiTypography-root MuiTypography-body1 css-195sgc8">
            172 g
          </p>
        </div>
        <div class="MuiFormControl-root css-xsf4qb">
          <div
            class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1fo2ctb"
          >
            <div
              tabindex="0"
              role="button"
              aria-expanded="false"
              aria-haspopup="listbox"
              class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb"
            >
              50%
            </div>
            <input
              aria-hidden="true"
              tabindex="-1"
              class="MuiSelect-nativeInput css-1k3x8v3"
              value="50"
            /><svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              data-testid="ArrowDropDownIcon"
            >
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
            <fieldset
              aria-hidden="true"
              class="MuiOutlinedInput-notchedOutline css-igs3ac"
            >
              <legend class="css-ihdtdm">
                <span class="notranslate">​</span>
              </legend>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="MuiBox-root css-1ymn2kw">
        <div class="MuiBox-root css-k008qs">
          <p class="MuiTypography-root MuiTypography-body1 css-159i7f8">Fat</p>
          <p class="MuiTypography-root MuiTypography-body1 css-195sgc8">46 g</p>
        </div>
        <div class="MuiFormControl-root css-xsf4qb">
          <div
            class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1fo2ctb"
          >
            <div
              tabindex="0"
              role="button"
              aria-expanded="false"
              aria-haspopup="listbox"
              class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb"
            >
              30%
            </div>
            <input
              aria-hidden="true"
              tabindex="-1"
              class="MuiSelect-nativeInput css-1k3x8v3"
              value="30"
            /><svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              data-testid="ArrowDropDownIcon"
            >
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
            <fieldset
              aria-hidden="true"
              class="MuiOutlinedInput-notchedOutline css-igs3ac"
            >
              <legend class="css-ihdtdm">
                <span class="notranslate">​</span>
              </legend>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="MuiBox-root css-1ymn2kw">
        <div class="MuiBox-root css-k008qs">
          <p class="MuiTypography-root MuiTypography-body1 css-159i7f8">
            Protein
          </p>
          <p class="MuiTypography-root MuiTypography-body1 css-195sgc8">69 g</p>
        </div>
        <div class="MuiFormControl-root css-xsf4qb">
          <div
            class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1fo2ctb"
          >
            <div
              tabindex="0"
              role="button"
              aria-expanded="false"
              aria-haspopup="listbox"
              class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb"
            >
              20%
            </div>
            <input
              aria-hidden="true"
              tabindex="-1"
              class="MuiSelect-nativeInput css-1k3x8v3"
              value="20"
            /><svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              data-testid="ArrowDropDownIcon"
            >
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
            <fieldset
              aria-hidden="true"
              class="MuiOutlinedInput-notchedOutline css-igs3ac"
            >
              <legend class="css-ihdtdm">
                <span class="notranslate">​</span>
              </legend>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="MuiBox-root css-5fjj1s">
        <div class="MuiBox-root css-0">
          <p class="MuiTypography-root MuiTypography-body1 css-19u9c5d">
            % Total
          </p>
          <p class="MuiTypography-root MuiTypography-body1 css-pors75">
            Macronutrients must equal 100%
          </p>
        </div>
        <p class="MuiTypography-root MuiTypography-body1 css-1jxk4hs">100 %</p>
      </div>
    </div>
    
  <div class="MuiBox-root css-hndopl">
    <a
      class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium css-wzravi"
      tabindex="0"
      href="/account/my-goals"
      ><span class="MuiTypography-root MuiTypography-caption css-ccfki1"
        >Back to Goals</span
      ></a
    ><button
      class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium Mui-disabled MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium css-1pro5sc"
      tabindex="-1"
      type="button"
      disabled=""
    >
      <span class="MuiTypography-root MuiTypography-caption css-ccfki1"
        >Save Changes</span
      >
    </button>
  </div>
  