<!--  Drag a column header here to group its column-->
<div class="control-section">
   
    <!-- Add, Edit, Delete, Columns as well -->
    <ejs-grid [dataSource]='meal | async' id='dropdown' enabled={meals.column.allowFiltering} allowPaging="true" [allowFiltering]="true" allowSorting="true"
        [allowGrouping]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar"
        (dataSourceChanged)='dataSourceChanged($event)' (dataStateChange)='dataStateChange($event)' height="320"
        (dataBound)='dataBound()' (created)='created()' (load)='load()'>

            <e-columns> 
                <e-column field="recipe"></e-column>
                <e-column field="meal_time"></e-column>
                <e-column field="calories"></e-column>
                <e-column field="carbs"></e-column>
                <e-column field="fat"></e-column>
                <e-column field="protein"></e-column>
                <e-column field="dietary notes"></e-column>

            </e-columns>
        </ejs-grid>
    
</div>




