<nav class="navbar navbar-expand-lg" style="background-color:aliceblue">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="\assets\images\NutritionGeniusLogo.png" width="120"
      height="100" 
      alt="Nutrition Genius">
  </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link active">Profile</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">About</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">About Us</a>
                      <a href="#" class="dropdown-item">Sent</a>
                      <a href="#" class="dropdown-item">Contact</a>
                  </div>
              </div>
              
          </div>
          <div class="navbar-nav ms-auto">
            <button type="button" class="btn me-3">
              <a href="#" class="nav-item nav-link active">Login</a>
            </button>
            <button type="button" class="btn me-3">
              <a href="#" class="nav-item nav-link active">Sign up</a>
            </button>
          </div>
          
      </div>
  </div>
</nav>