<!--
HTML Code: Footer
Contributor(s): Aishat Banire
Summary: 
-->

<section class="">
   
    <footer class="text-center text-black" style="background-color: aliceblue;">
      
      <div class="container p-4 pb-0">
        
        <!-- <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button type="button" class="btn btn-outline-dark btn-rounded">
              Sign up!
            </button>
          </p>
        </section> -->
      
      </div>
      
  
      
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Nutritiongenius.com</a>
      </div>
    
    </footer>
    
  </section>