.gradient-custom-3 {
    /* fallback for old browsers */
    background: #0000007b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(85, 107, 47, 0.644) , rgb(240,248,255,0.644));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(85, 107, 47, 0.644) , rgb(240,248,255,0.644))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #0000007b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(85, 107, 47, 0.644) , rgb(240,248,255,0.644));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(85, 107, 47, 0.644) , rgb(240,248,255,0.644))
    }