<div class="d-flex justify-content-center container-fluid">
    
  <h1>Welcome to Nutrition Genius</h1>
</div>
<div class="card text-center">
    <div class="card-header">
      New to Nutrition Genius? Find Out What's New!
    </div>
    <div class="card-body">
      <h5 class="card-title">Recipes Made Uniquely For You</h5>
      <p class="card-text">Nutrition Genius formulates new recipes based on ingredients found in your home.
        Click Login / Sign up to get started on your nutrition journey!
      </p>
      <button class="btn btn-outline-success">
        <a routerLink="Profile" href="#" class="nav-item nav-link active">Login</a>
      </button>
      
    </div> 
</div>
<div class="container">
    <div class="main-body">
        <h2 class="features">This Weeks Features:</h2>

        <div class="card-deck ">
          <div class="card ">
            <img src="https://i.pinimg.com/474x/f0/db/e6/f0dbe691e4eaeb926b622a7cd9abfda2.jpg" class="card-img-top" alt="..."
            height=65.3%>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card ">
            <img src="https://i.pinimg.com/474x/b2/02/a5/b202a5b11b6672344ba225a8c5889dc7.jpg" class="card-img-top" alt="..." height=65.3%>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <img
            src="https://assets-global.website-files.com/625d2a5ca1316da92392fd13/627085282b05ab11b9cfcdd2_Marco%20Lavalle.jpeg"
            loading="lazy"
            id="circle"
                />
                This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card ">
            <img src="https://i.pinimg.com/474x/fa/b1/74/fab174dc39b51001b31600ab52555c78.jpg" class="card-img-top" alt="... "
            height=65.3%
            >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>


        <div class="container-b">
          <div class="row">
           
             <div class="card card-circle">
                <div class="card-icon">
                   <i class="fas fa-apple-alt"></i>
                </div>
                <div class="card-b">
                   <h5 class="card-title">Ingredients</h5>
                   <p class="card-text">Add any inhgredients to generate what meals are available</p>
                   <a routerLink= "Ingredients" href="#" class="btn btn-primary">Add me</a>
                </div>
             </div>
            
             <div class="card card-circle">
                <div class="card-icon">
                   <i class="fas fa-cookie"></i>
                </div>
                <div class="card-b">
                   <h5 class="card-title">Recipes</h5>
                   <p class="card-text">Check out some quick and easy recipes to make for the week</p>
                   <a routerLink= "Recipes" href="#" class="btn btn-primary">Eat me</a>
                </div>
             </div>
             
             <div class="card card-circle ">
                <div class="card-icon">
                   <i class="fas fa-carrot"></i>
                </div>
                <div class="card-b">
                   <h5 class="card-title">Meals</h5>
                   <p class="card-text">Look at feautured meals for the week</p>
                   <a href="#" class="btn btn-primary">See me</a>
                </div>
             </div>
          </div>
       </div>



       
    </div>
</div>


