.row{
    background-color:rgba(85, 107, 47, 0.626);
}
.heading{
     text-align: center;
}
.slogan{
    text-align: center;
}
.features{
    text-align: center;
    font-weight: lighter;
    margin: 20px;
}