<div class=" d-flex justify-content-center container-fluid">
    <h1>Welcome to Nutrition Genius</h1>
</div>
<div class="card text-center">
    <div class="card-header">
      New to Nutrition Genius? Find Out What's New!
    </div>
    <div class="card-body">
      <h5 class="card-title">Newest Recipes Made Just For You</h5>
      <p class="card-text">Nutrition Genius formulates new recipes based on ingredients found in your home.
        Click Login / Sign up to get started on your nutrition journey!
      </p>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
