 HEAD

.row{
    background-color:rgba(85, 107, 47, 0.626);
}
.heading{
     text-align: center;
}
.slogan{
    text-align: center;
}
.features{
    text-align: center;
    font-weight: lighter;
    margin: 20px;

}
.card-deck{
    display: flex;
   height: 50%;
}
#circle{

    float:left;
    width: 80px;
    height: 80px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: transparent;
    align-items: left;
}
.card-header{
    background-color: rgba(85, 107, 47, 0.696);
}
.card-body{
    background-color: aliceblue;
}