<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
        <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Username" #userName required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>
            <!--SignIn API call from AuthService-->
            <div class="forGroup">
                <input type="button" class="btn btnPrimary" value="Log In" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>
            <!--GoogleAuth AOU from AuthService-->
            <div>
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Log in with Google
                </button>
            </div>
            <div class="forgotPassword">
                <span routerLink="'/forgot-password">Forgot Password?</span>
            </div>
            <div class="redirectToLogin">
                <span>Don't have an account<span class="redirect" routerLink="/SignUpPage">Sign Up</span>
            </span>
        </div>
    </div>
</div>